.itemDiv {
    display: grid;
    grid-template-rows: 1.2rem 1.2rem;
    grid-template-columns: 1fr 50px;
    align-items: center;
    width: 100%;
}

.itemTitle {
    font-weight: bold;
    font-size: 1.2rem;
    grid-area: 1 / 1 / 2 / 2;
}

.itemDescription {
    color: rgb(90,90,90);
    grid-area: 2 / 1 / 3 / 2;
}

.itemPrice {
    font-weight: bold;
    grid-area: 1 / 2 / span 2 / 3;
}